#folders
/Debug
/Boost
/Cute
/.settings

#project files
.project
.cproject

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.idea/Supermercado\.iml

\.idea/codeStyles/Project\.xml

\.idea/misc\.xml

*.xml

*.cmake

*.cxx

cmake-build-debug/CMakeFiles/

CMakeLists\.txt

cmake-build-debug/CMakeCache\.txt

cmake-build-debug/Makefile

cmake-build-debug/Supermercado\.cbp

cmake-build-debug/
